<%= simple_form_for @user_horizontal, url: create_horizontal_examples_url, as: 'user_horizontal', html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    boolean: :customizable_wrapper
  } do |f| %>
  <%= f.error_notification %>

  <%= f.input :email, placeholder: 'Email' %>

  <%= f.input :password, placeholder: 'Password' %>

  <%= f.input :file, as: :file, hint: "You style here" %>

  <%= f.input :active, wrapper_html: {class: 'row'}, custom_wrapper_html: {class: 'column small-9 small-offset-3'} %>

  <%= f.input :choices, as: :check_boxes,
    collection: ["Option one is this and that—be sure to include why it's great", "Option two can be something else and selecting it will deselect option one"] %>

  <%= f.input :sex, as: :radio_buttons,
    collection: ["Male", "Female"] %>

  <div class="row">
    <div class="column small-offset-3 small-9">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
